.login-box {
  text-align: center;
}
.icon-test1 {
  color: red;
  font-size: 50px !important;
}
.para-test {
  color: red;
  font-size: 20px !important;
  margin: 10px auto;
}

.form-test {
  width: 50% !important;
  margin: 40px auto;
}

@media screen and (max-width: 1000px) {
  .form-test {
    width: auto !important;
    margin: 40px auto;
  }
}
