.bg-test {
  background-color: red;
}
.map-test {
  height: 100vh;
  width: 100%;
  margin: -44px auto;
}
.lg-test {
  color: white !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 25px !important;
}
.icon-test {
  float: left;
  color: white;
  font-size: 20px !important;
}
.btn-test {
  background-color: red !important;
  position: relative;
  top: 33%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 17px !important;
  border-radius: 30px !important;
  margin: auto -55px !important;
}

.card-test {
  position: relative;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25% !important;
  font-size: 13px !important;
  border-radius: 30px !important;
  margin:  auto !important;
  z-index: 999;
}

@media screen and (max-width: 1000px) {
  .map-test {
    margin: -44px auto;
  }

  .card-test {
    width: 90% !important;
    top: 7%;
    font-size: 13px !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .btn-test {
    margin: auto -70px !important;
    top: 35%;
  }
}
